@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');

body {
  background-color: white;
  color: black;
  font-family: 'Cormorant SC', serif;
}

#header {
  background-color: gray;
  color: white;
  border: none;
  padding: none;
  margin: none;
  width: 100%;
}

h3 {
  background-color: gray;
  color: white;
  text-align: right;
  margin: none;
  padding: none;
  width: 100%;
}

.tablink {
  background-color: gray;
  color: white;
  font-family:'Cormorant SC', serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}
